* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: rgb(47, 49, 47);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 27px;
    font-family: "Arial";
    white-space: nowrap;
    overflow: hidden;
}
.logo img {
    height: 70px;
    align-items: center; 
}
.nav-list .list-item a:hover {
    color: #a3620a;
}
.nav-list {
    list-style-type: none;
}

.nav-list .list-item a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .container img {
      height: 650px;
      width: auto;
      object-fit: cover;
  }

  .bannertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family: arial;
    text-shadow: 0px 2px 20px lightslategray;
  }
  .service {
    float: none;
    margin-left: 500px;
    width: 100%;
    margin-top: 100px;
    display: grid;
    grid-gap: 4em;
    grid-template-areas: 
    "product1"
    "product2";
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }

  .service1 {
    padding: 5px;
    width: 100%;
  }
  .service1 img{
    float: none;
    height: 600px;
    padding: 15px;
    shape-outside:square(50%);
}

.service1 h1 {
    padding-top: 5vh;
  padding-left: 25vh;
  font-family: Arial;
}

.service2 {
    padding: 5px;
    width: 100%;
  }
  .service2 img{
    float: none;
    height: 600px;
    padding: 15px;
    shape-outside:square(50%);
}

.service2 h1 {
    padding-top: 5vh;
  padding-left: 17vh;
  font-family: Arial;
}

.smicons {
      margin-left: 870px;
      margin-top: 5vh;
}
.smicons img{
      padding: 10px;
      width: 10vh;
}